nav {
  align-items: center;
  border-radius: 0 0 $borderRadius $borderRadius;
  background-color: $colorTeal;
  display: flex;
  left: 0;
  margin: 0 auto;
  max-width: calc(#{$bodyMaxWidth} - #{$spacingSm});
  padding: $spacingXs;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  > div {
    flex: 1;
  }

  .iconbtn {
    color: $colorBackgroundLight;
    text-decoration: none;

    &:hover {
      color: $colorBackgroundLightHover;
    }
  }

  .nav-left {
    .nav-ctrl-search {
      display: flex;

      #search-term {
        border: none;
        border-radius: $borderRadius 0 0 $borderRadius;
        padding: $spacingXs;
  
        &:focus {
          outline-color: $colorBackgroundActive;
        }
      }
  
      #search-results-count {
        background-color: $colorBackgroundLight;
        border: none;
        border-radius: 0 $borderRadius $borderRadius 0;
        max-width: $spacingLg;
        padding: $spacingXs;
        text-align: center;
      }
    }
  }

  .nav-right {
    text-align: right;

    .nav-ctrl {
      display: inline-block;
      margin-left: $spacingSm;

      .hidden {
        display: none;
      }

      .fa-check-square {
        color: $colorBackgroundActive;
      }
    }
  }
}

@media screen and (max-width: $breakpointSm) {
  .nav-left {
    display: none;
  }

  .nav-right {
    padding-bottom: calc(#{$spacingXs} - #{1px}); /* Monkey patch */
    padding-top: $spacingXs;
  }
}