.settings-lightbox {
  background-color: $colorFontLight;
  border-radius: $borderRadius;
  display: none;
  left: 50%;
  margin: auto;
  max-height: $bodyMinWidth;
  max-width: $bodyMinWidth;
  padding: $spacingSm;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;

  &.open {
    display: block;
    opacity: 1;
  }

  .settings-close {
    position: absolute;
    right: $spacingSm;

    .iconbtn {
      color: $colorFontDark;
      font-size: large;
    }
  }

  h2 {
    border-bottom: 1px solid $colorFontDark;
    font-weight: bold;
    margin-bottom: $spacingSm;
    margin-top: 0;
    padding-bottom: $spacingSm;
  }

  h3 {
    margin-bottom: $spacingXxs;
    margin-top: 0;
  }

  .settings-item {
    display: flex;

    .settings-item-name {
      align-items: center;
      display: flex;
      flex: 2;
      padding-left: $spacingXs;
    }

    .settings-item-value {
      align-items: center;
      display: flex;
      flex: 3;
      padding-left: $spacingXs;
    }

    .filter-google-analytics,
    .filter-tealium-iq {
      color: $colorTeal;
      font-size: medium;
      text-decoration: none;

      .hidden {
        display: none;
      }
    }
  }
}