$bodyMaxWidth: 960px;
$bodyMinWidth: 400px;

$borderRadius: 3px;
$borderWidth: 1px;

$breakpointMd: 720px;

$color1: #0d7e83;
$color2: #ffce00;
$colorBackgroundLight: #ffffff;
$colorBorder: #aeaeae;
$colorFont: #0d0d0d;
$colorIconBtn: $color1;
$colorIconBtnHover: darken($colorIconBtn, 10%);
$colorIconBtnDark: #4c4c4c;
$colorIconBtnDarkHover: darken($colorIconBtnDark, 10%);
$colorIconBtnLight: #ffffff;
$colorIconBtnLightHover: darken($colorIconBtnLight, 10%);
$colorTableCaption: #95b0b2;
$colorTableRow: darken($colorBackgroundLight, 10%);

$fontFamily: 'Roboto', sans-serif;
$fontWeight: 300;
$fontWeightBold: 500;

$navHeight: 30px; /* 🐒 patch */

$spacingXxs: 4px;
$spacingXs: 8px;
$spacingSm: 16px;
$spacingMd: 32px;
$spacingLg: 48px;

body {
  background-color: $colorBackgroundLight;
  color: $colorFont;
  font-family: $fontFamily;
  font-weight: $fontWeight;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $bodyMaxWidth;
  min-width: $bodyMinWidth;
}

.request-list {
  margin-top: calc(#{$navHeight} + #{$spacingXs}); /* 🐒 patch */
}

.page-break {
  background-color: $colorFont;
  border-radius: $borderRadius;;
  color: $colorBackgroundLight;
  margin-bottom: $spacingXs;
  opacity: .5;
  overflow: hidden;
  padding: $spacingXs;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hidden {
  display: none;
}

@import './button';
@import './nav';
@import './request';
@import './table';