/* Common */

body {
  background-color: #fffaf0;
  color: #222;
  font-family: sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
}

/* Nav */

nav {
  display: flex;
}

.tab-switcher {
  flex: 2;
}

.tab-switcher a {
  background-color: #fbdd0f;
  color: #222;
  display: inline-block;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
}

.tab-switcher a:hover {
  background-color: #ffea6a;
}

.tab-switcher a.active {
  text-decoration: underline;
}

.tab-controls {
  display: inline-flex;
  flex: 3;
  justify-content: flex-end;
}

.tab-ctrl {
  align-items: center;
  display: inline-flex;
}

.tab-ctrl-keyword,
.tab-ctrl-clear-requests {
  margin-left: 8px;
}

.tab-controls a {
  background-color: #e6e6e7;
  color: #222;
  display: inline-block;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
}

.tab-controls a:hover {
  background-color: #f3f3f4;
}

.tab-controls #preserve-log,
.tab-controls label[for="preserve-log"] {
  cursor: pointer;
}

#keyword {
  padding: 4px;
}

/* Tab */

.tab {
  display: flex;
}

.tab.hidden {
  display: none;
}

.tab h1 {
  color: #109fb3;
  text-align: center;
}

/* Tab left */

.left {
  flex: 1;
  padding: 8px;
}

.tealium-profile-environment {
  color: #222;
  font-size: small;
  font-weight: normal;
}

.left .request a {
  color: #222;
  display: block;
  padding: 4px;
  text-align: center;
  text-decoration: none;
}

.left .request:nth-child(odd) a {
  background-color: #a8e2ea;
}

.left .request a:hover {
  font-weight: bold;
}

.left .request a.active {
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

.left .request.pageview a::before {
  color: #06183d;
  content: "🅿️";
  margin-right: 4px;
}

/* Tab right */

.right {
  flex: 3;
  max-width: 720px;
  padding: 8px;
}
.right .heading-event-signature {
  color: #222;
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: 400;
  margin-top: 8px;
  text-align: left;
}

.right .heading-event-category,
.right .heading-event-action,
.right .heading-event-label {
  border-right: 1px solid #222;
  flex: 1
}

.right .heading-event-label {
  border-right: none;
}

.right .heading-event-signature span {
  font-weight: bold;
}

.right .post-data {
  display: flex;
  flex-direction: column;
}

.right .post-data-r {
  display: flex;
  font-size: small;
  padding: 4px;
}

.right .post-data-r:nth-child(odd) {
  background-color: #e6e6e7;
}

.right .post-data-r-varname {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
}

.right .post-data-r-varvalue {
  flex: 3;
  overflow: hidden;
  word-wrap: break-word;
}

mark {
  background-color: #800080;
  color: #fff;
  font-weight: bold;
}
